<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/styles.css">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
    crossorigin="anonymous"
  />
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">LALI-FELLOWSHIP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item"><a class="nav-link active" aria-current="page" href="/mentee/dashboard">Dashboard</a></li> -->
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/mentee/schedule">Schedule</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/mentee/webinars">Webinars</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/mentee/feedback">Feedback</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/mentee/logout">logout</a></li>
            </ul>
        </div>
    </div>
</nav>
      <h2 class="webinarHeading">Webinars Schedules</h2>
      <table class="webinarTable" style="width:100%">
        <tr class="webinarColm">
          <th class = "webinarRows">Webinar Name </th>
          <th class = "webinarRows">Webinar Date</th>
          <th class = "webinarRows">Webinar Link </th>
        </tr>
        <tr class="webinarColm">
          <td class = "webinarRows">Develop LeaderShip skills</td>
          <td class = "webinarRows">12 July 2021</td>
          <td class = "webinarRows"><a href="zoom.com">Link</a></td>
        </tr>
        <tr class="webinarColm">
          <td class = "webinarRows"> Carrier Guide</td>
          <td class = "webinarRows">13 July 2021</td>
          <td class = "webinarRows"><a href="zoom.com">Link</a></td>
        </tr>
        <tr class = "webinarColm">
            <td class = "webinarRows">Which language is best</td>
            <td class = "webinarRows">15 July 2021</td>
            <td class = "webinarRows"><a href="zoom.com">Link</a></td>
        </tr>
        <tr class = "webinarColm">
            <td class = "webinarRows">How to manage Time</td>
            <td class = "webinarRows">15 July 2021</td>
            <td class = "webinarRows"><a href="zoom.com">Link</a></td>
        </tr>
        <tr class = "webinarColm">
            <td class = "webinarRows">How to manage Time</td>
            <td class = "webinarRows">15 July 2021</td>
            <td class = "webinarRows"><a href="zoom.com">Link</a></td>
        </tr>
        <tr class = "webinarColm">
            <td class = "webinarRows">How to manage Time</td>
            <td class = "webinarRows">15 July 2021</td>
            <td class = "webinarRows"><a href="zoom.com">Link</a></td>
        </tr>
        <tr class = "webinarColm">
          <td class = "webinarRows"><% web.webinarname %></td>
          <td class = "webinarRows"><% web.date %></td>
          <td class = "webinarRows"><% web.link %> </td>
        </tr>
      </table> 
    <!-- /footer/ -->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
</body>
</html>